In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('./data/CNA_portfolio.csv')

In [8]:
df.head()

,Date,000002 SZ T1440,000089 SZ T1440,000157 SZ T1440,000568 SZ T1440,000581 SZ T1440,000651 SZ T1440,000858 SZ T1440,000951 SZ T1440,000997 SZ T1440,...,002311 SZ T1440,601288 SS T1440,601818 SS T1440,002475 SZ T1440,300124 SZ T1440,300142 SZ T1440,002508 SZ T1440,300166 SZ T1440,300203 SZ T1440,300271 SZ T1440
0,2012-01-05,5.608798,3.807883,5.697452,26.510463,17.259812,6.377904,25.794077,6.423874,5.524119,...,6.271071,1.724968,2.107184,1.821984,6.214885,4.218003,3.700905,3.351367,14.980506,3.253632
1,2012-01-06,5.480905,3.801978,5.567221,26.828842,16.993895,6.197429,25.972654,6.351699,5.702242,...,6.219243,1.732618,2.091034,1.738640,5.842076,4.109909,3.776747,3.194520,14.436428,3.253632
2,2012-01-07,5.527596,3.890607,5.758363,26.616697,16.451072,6.366991,25.898051,6.630316,5.918431,...,6.640891,1.736997,2.100890,1.745024,5.951914,4.188153,3.945565,3.430372,14.869789,3.421416
3,2012-01-08,5.527596,3.890607,5.758363,26.616697,16.451072,6.366991,25.898051,6.630316,5.918431,...,6.640891,1.736997,2.100890,1.745024,5.951914,4.188153,3.945565,3.430372,14.869789,3.421416
4,2012-01-09,5.527596,3.890607,5.758363,26.616697,16.451072,6.366991,25.898051,6.630316,5.918431,...,6.640891,1.736997,2.100890,1.745024,5.951914,4.188153,3.945565,3.430372,14.869789,3.421416

In [6]:
df.shape

(2795, 66)